{% ckan_extends %}

{% block metadata_fields %}
    {{ super() }}

    {% block restricted %}
    {% set options=[
        {'value': 'registered', 'text': _('Registrierte Benutzer')}, 
        {'value': 'same_organization', 'text': _('Mitlgieder der selben Organisation')},
        {'value': 'only_allowed_users', 'text': _('Nur ausgewählte Benutzer')}
    ] %}
    <div data-module="show-hide-fields">
        {{ form.select("showcase_restricted", id="field-restricted", label=_("Zugriffsrechte"), options=options, selected=data.showcase_restricted if data.showcase_restricted else 'registered', is_required=true) }}
    </div>
    {% endblock restricted %}

    {% block organization %}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {% set user_can_update_owner_org = h.can_update_owner_org(data, organizations_available) %}
    {% set show_organizations_selector = organizations_available and user_can_update_owner_org %}
    {% set existing_org = data.owner_org or data.group_id %}

    {% if show_organizations_selector %}
        <div class="form-group control-full hidden">
            <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
            <div class="controls">
            <select id="field-organizations" name="owner_org" data-module="autocomplete">
                {% if h.check_config_permission('create_unowned_dataset') %}
                <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
                {% endif %}
                {% for organization in organizations_available %}
                {# get out first org from users list only if there is not an existing org #}
                {#{% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}#}
                {% set selected_org = data.owner_org == organization.id %}
                <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
                {% endfor %}
            </select>
            </div>
        </div>
      {% endif %}
    {% endblock organization %}

    {% block allowed_user %}

        {% set value = data.allowed_users  %}
        {% if value is string %}
            {% set value = [value] %}
        {% endif %}

        <div class="allowed_users hidden">
            {% call form.input(
                "allowed_users",
                label="Allowed Users",
                value=value|join(","),
                is_required=false,
                placeholder="",
                attrs=dict({
                    "classes": ["form-group"],
                    "data-module-source": "/api/2/util/user/autocomplete?q=?",
                    "data-module-label": "fullname",
                    "data-module-createtags": "false",
                    "data-module": "autocomplete",
                    "data-module-tags": true
                }),
            )%}
            {% endcall %}
        </div>
    {% endblock allowed_user %}
{% endblock %}
