{% ckan_extends %}

{% set search_route = 'dataset.search' %}
{% set org_route = 'organization.index' %}
{% set group_route = 'group.index' %}
{% set showcase_route = 'showcase_blueprint.index' %}
{% set about_route = 'home.about' %}

{% block header_site_navigation_tabs %}
    {% set nav_items = [
        (search_route, _('Datasets')),
        (org_route, _('Organizations')),
        (group_route, _('Groups')),
    ] %}
    {% if g.user %}
        {% set nav_items = nav_items + [(showcase_route, _('Showcases'))] %}
    {% endif %}
    {% set nav_items = nav_items + [(about_route, _('About'))] %}

    {{ h.build_nav_main(*nav_items) }}
{% endblock %}
